{{#if resume.skills.length}}
  <section id="skills">
    <h3>Skills</h3>
    <div class="skills">
      {{#each resume.skills}}
        <div class="skill">
          <h4>
            {{name}}
            {{#if keywords.length}}
              ({{join keywords}})
            {{/if}}
          </h4>
          <div class="score">
            <div class="bar" style="width: {{levelToNumber level}}0%">
              {{levelToNumber level}} / 10
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}
