<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{#resume.basics}}
      {{> meta}}
    {{/resume.basics}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{{{css}}}</style>
  </head>
  <body>

    {{#resume.basics}}
      {{> header}}
    {{/resume.basics}}
    {{> skills}}
    {{#resume.basics}}
      {{> about}}
    {{/resume.basics}}
    {{> projects}}
    {{> work}}
    {{> volunteer}}
    {{> education}}
    {{> awards}}
    {{> certificates}}
    {{> publications}}
    {{> interests}}
    {{> references}}
  </body>
</html>
